<html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'error_test/style.css' %}" />

{% if question_list %}

{% if error_message %}<p><strong><h2>{{ error_message }}</h2></strong></p>{% endif %}

<form action="{% url 'error_test:result' %}" method="post">
{% csrf_token %}
    <ul>
    {% for question in question_list %}
        <li>{{ question.question_text }}</a></li>
 <input type="hidden" name="question" value="{{ question.id }}"/>
	{% for choice in question.choice_set.all %}
    		<input type="radio" name= "user_answer-{{question.id}}" id="choice	 {{ forloop.counter }}" value="{{choice.is_valid}}" />
    		<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
	{% endfor %}<br><br>
    {% endfor %}
    </ul>
<input type="submit" name="add_button" value="SUBMIT" /><br><br>
</form>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</html>
