<html>
<head>
<style>
h1 {
    letter-spacing: 3px;
    text-shadow: 3px 2px blue;
    color: #191919;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: blue;
}

.w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

</style>
</head>
<body>
<h1 align = center>ERROR TEST</h1><br>

<div class="w3-container w3-myfont">
<a href="/error_test/quiz/"><p align = center>{{ "Start Quiz" }}</p></a><br>

<a href="/error_test/reference"><p align = center>{{ "Reference" }}</p></a><br>
</div>

    
 

</body></html>


