<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<br><br>
<input type="submit" name="vote_button" value="vote" /><br><br>
</form>
<form action="{% url 'polls:addChoice' question.id %}" method="post">
{% csrf_token %}
<input type="text" name="new_choice">
<input type="submit" name="add_button" value="ADD" /><br><br>
</form>
